html,body{
     margin: 0px;
     padding: 0px;
}

.mainContainer{
max-width: 1024px;
margin: 0 auto;
/*👉height: 2000px;👈*/

}

.header{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 100px;
position: sticky;
top: 0px;
opacity: 0.8;
background-color: #FAFAFA;
border-bottom: 1px solid lightgray;

}

.titleHeader{
     margin-bottom: 15px;
}


.description{
     margin-bottom:20px ;
}

.logo{
     width: 50px;
     height: 50px;

}

.container{
     display: flex;
     flex-wrap: wrap;
}

/* Footer CSS */
.footer{
     font-size: 30px;
     margin-top: 50px;
     text-align: center;
}

.left{
     
     display: inline-block;
     width: 50%;
     /* background-color: blue; */
}


.right{
display: inline-block;
width: 50%;
}

.inner{
     width: 50%;
}


.rightImage{
     width: 150%;
}
.appStore{
     width: 250px;
    height: 150px
}


.menuItem{
     text-transform: capitalize;
     text-decoration: none;
     color: inherit;
     margin-left: 30px;
     font-size: 16px;
}


.menuItem:hover{
     border-bottom-style: solid;
     
}


.blockElement{
     display: block;
     margin-top: 10px;
     margin-bottom: 20px;
     width: 200px;
     border-radius: 15px;
     border: none;
     background-color: #E8F0FE;
     height: 30px;
     padding: 2px 16px;
     outline: none;

}


.inputSpan{
     margin-bottom: 20px;
}


.password{
     margin-bottom: 20px;
}

.signInBtn{
     background-color: #0a7cff;
     border-radius: 24px;
     padding: 2px 20px 0px;
     border: none;
     font-size: 19px;
     height: 40px;
     width: 100px;
     
}

.mobileMenuContainer{
     display: none;
}


@media (max-width: 767px) {
     .menuContainer{
          display: none;
     }
     .mobileMenuContainer{
          display: block;
     }
     .left{
          width: 100%;
     }
     .inner{
          width: 80%;
          margin: 0 auto;
     }
     .right{
          width: 100%;
          overflow: hidden;
     }
     .rightImage{
          margin: 0 -50%;
          text-align: center;
     }
}
@media (max-width :375px) {
     .inner{
          width: 95%;
     }
}